body
{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#212121;
    
}
.frame
{   margin-top:75px;
    display:flex;
    flex-direction: column;
    width:500px;
    height:700px;
   
    background-color: #323232;
    align-self: center;
    justify-content: flex-start;
    align-items: center;
    gap:20px;
    border-radius: 25px;
    border-color:#14FFEC;
    border-width: 2px;
    border-style: double;
}

.screen
{   
    
    width:400px;
    height:150px;
    background-color:#14FFEC;
    margin-top: 50px;
    margin-bottom:5px;
    display:flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
    border-radius: 10px;
    
    
}

.buttons
{   font-size:25px;
    width:100px;
    height:75px;
    border-radius:15px;
    border-color:#34b3b8;
    border-style:groove;
    font-family: 'Roboto', monospace;
    border-width: 1px;
    
    background-color: #34b3b8;
}
.row1,.row2,.row3,.row4,.row5
{
    display:flex;
    gap:10px;

}

.equal
{
    width:210px;
}
.screeno1
{
    font-size: 30px;
    align-self:flex-end;
    color:rgb(0, 0, 0);
    word-wrap: break-word;
    
}

.screenbottom
{   width:100%;
    display:flex;
    justify-content: flex-end;
    padding:15px;
    font-family: 'Roboto', sans-serif;
    
}

.screentop
{
    width:100%;
    
}

.footer
{
    position: absolute;
    bottom:0;
    font-family: 'Roboto', sans-serif;
    color:white;
    font-size: 20px;
}